*{
    margin: 0;
    padding: 0;
}

.heavyPlaceholder::placeholder {
    font-weight: bold; /* or use numeric values like 600 */
    color: white;
}

.single_hidden_item:hover{
    background-color: white;
    color: #2F302C;
}
@media screen and (max-width:1220px){
    .heading{
        font-size: 1.5rem !important;
    }
    .hover_text{
        bottom: 0%;
    }
}

@media screen and (max-width:1000px){
    .heading{
        font-size: 1.2rem !important;
    }
    .visible_items{
        font-size: 1rem !important;
    }
    .hidden_items{
        font-size: 1rem !important;
    }
    .heavyPlaceholder{
        font-size: 1rem !important;
    }
}

@media screen and (max-width:850px){
    .heading{
        font-size: 1rem !important;
    }
    .visible_items{
        font-size: 1rem !important;
    }
    .hidden_items{
        font-size: 1rem !important;
    }
}

@media screen and (max-width:780px){
    .left{
        flex: 2 !important;
    }

    .center{
        flex: 3 !important;
    }
    .right{
        flex:2 !important;
    }
    .hidden_items_container{
        right: 30vw !important;
    }
}

@media screen and (max-width:750px){
    .center{
        justify-content: space-evenly !important;
    }
    .hidden_items_container{
        right: 35vw !important;
    }
}

@media screen and (max-width:650px){
    .left{
        flex:3 !important
    }
    .center{
        flex:3 !important
    }
    .right{
        flex: 3 !important;
    }
    .center{
        justify-content: space-evenly !important;
    }
    .hidden_items_container{
        right: 40vw !important;
    }
}

/* at 520px go for mobile view */
@media screen and (max-width:520px){
    .header{
        flex-direction: column;
        gap: 0rem !important;
        padding: 0rem !important;
    }
    .left{
        width: 100%;
        padding: 1rem 0;
    }
    .center{
        width: 100%;
        padding: 1rem 0;
    }
    .right{
        width: 50%;
        justify-content: center;
        padding: 1rem 0 !important;
        border: none !important;
        width: 100%;
    }
    .heavyPlaceholder::placeholder{
        text-align: center;
    }
    .hidden_items{
        flex-direction: column;
        text-align: center;
        width: 100vw;
    }
    .hidden_items_container{
        position: static !important;
        width: 100% !important;
    }

}

@media screen and (max-width:430px){
    .hover_text{
        width: 100%;
    }
}
